
.Loading{
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  width: 100%;
  height: 550px;
}

.gameTitle{
  font-family: 'Kanit', sans-serif;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 20px;
}

.countryImg{
  margin-bottom: 40px;
  width: 400px;
  height: 200px;
}

.containerHead{
  width: 100%;
  height: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerOptions{
  height: 225px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnNext{
  padding: 10px 20px;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  border: 2px solid rgb(41, 18, 82);
  border-radius: 10px;
  background-color: rgb(41, 18, 82);
  color: #fff;
}
.btnNext:hover{
  transform: scale(1.1);
  
}
.btnNext:active{
  transform: scale(1);
  
}







