.gameTitle {
  color: var(--words);
  font-size: 26px;
  line-height: 1;
  margin-bottom: 10px;
}

.countryImg {
  margin-bottom: 10px;
  width: 100%;
  height: 150px;
  align-self: center;
  border-radius: 20px;
  box-shadow: 0 0 20px var(--words);
}

.containerHead {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 200px;
}
.containerLoadPic {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 660px;
}

.containerOptions {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.containerBtn {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  color: var(--words);
  font-size: 20px;
}

.btnNext {
  padding: 2px 10px;
  font-family: "Kanit", sans-serif;
  font-size: 30px;
  border: 4px solid var(--words);
  border-radius: 10px;
  background-color: var(--container);
  color: var(--words);
}
.btnNext:hover {
  transform: scale(1.1);
}
.btnNext:active {
  transform: scale(1);
}

@media (min-width: 750px) {
  .countryImg {
    height: 200px;
    width: 75%;
  }

  .containerHead {
    height: 260px;
    align-items: center;
  }

  .gameTitle {
    font-size: 36px;
  }

  .btnNext {
    font-size: 40px;
  }
  .question {
    font-size: 30px;
  }
}
