.option {
  border-radius: 10px;
  width: 100%;
  height: 92px;
  border: 4px solid var(--words);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
}
.option_P {
  font-family: "Kanit", sans-serif;
  font-size: 24px;
  color: var(--words);
  text-align: center;
}
.option:hover {
  box-shadow: 0 0 10px var(--words);
}

.incorrect {
  background-color: rgba(255, 0, 0, 0.6);
  color: var(--words);
  font-weight: bold;
}

.correct {
  background-color: rgba(0, 128, 0, 0.6);
  color: var(--words);
  font-weight: bold;
}
