@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500;700&display=swap');



.option{
 margin-bottom: 20px;
 border-radius: 10px;
 width: 500px;
}
.option_P{
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 10px 0;
  border-radius: 10px;
  border: 2px solid rgb(76, 38, 141) ;
  text-align: center;
}

.Loading{
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
}


.incorrect{
  background-color: red;
  color: #fff;
}

.correct{
  background-color: green;
  color: #fff;
}










